body{
	margin:0;
	background-color: #c8d3e0;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
}

#nav {
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  overflow: hidden;
  background-color: #f0f2f5;

  border-bottom: 0.5px solid #aaadb3;
}

nav li {
  display: inline-block;
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  padding-right: 50px;
    padding-left: 50px;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: #aaadb3;
  color: white;
}

#card{
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 80px;
	margin-bottom: 50px;
	height: 200px;
	background-color: #f0f2f5;
	padding: 20px;
	padding-top: 0;
	padding-bottom: 0;
	height: fit-content;
	color: #3d3d3d;
}

.column {
  float: left;
  width: 50%;
}

.row {
	border-bottom: 0.5px solid #aaadb3;
	margin: 20px;
	padding: 10px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#profile {
  border-radius: 50%;
  display: block;
	padding: 10px;
	width: 18%;
	margin: auto;
	margin-top: 10px;
}

.intro{
text-align: center;}


footer{
	text-align: center;
	font-size: small;
	
}

footer p{
	margin: 50px;
}